basePath: /v1
definitions:
  malak.Role:
    enum:
    - admin
    - member
    - billing
    type: string
    x-enum-varnames:
    - RoleAdmin
    - RoleMember
    - RoleBilling
  malak.User:
    properties:
      created_at:
        type: string
      email:
        type: string
      full_name:
        type: string
      id:
        type: string
      metadata:
        $ref: '#/definitions/malak.UserMetadata'
      roles:
        items:
          $ref: '#/definitions/malak.UserRole'
        type: array
      updated_at:
        type: string
    type: object
  malak.UserMetadata:
    properties:
      current_workspace:
        description: |-
          Used to keep track of the last used workspace
          In the instance of multiple workspaces
          So when next the user logs in, we remember and take them to the
          right place rather than always a list of all their workspaces and they
          have to select one
        type: string
    type: object
  malak.UserRole:
    properties:
      created_at:
        type: string
      id:
        type: string
      role:
        $ref: '#/definitions/malak.Role'
      updated_at:
        type: string
      user_id:
        type: string
      workspace_id:
        type: string
    type: object
  server.APIStatus:
    properties:
      message:
        description: Generic message that tells you the status of the operation
        type: string
    type: object
  server.authenticateUserRequest:
    properties:
      code:
        type: string
    type: object
  server.createdUserResponse:
    properties:
      message:
        description: Generic message that tells you the status of the operation
        type: string
      user:
        $ref: '#/definitions/malak.User'
    type: object
host: malak.ayinke.ventures
info:
  contact:
    email: lanre@ayinke.ventures
    name: Ayinke Ventures
  title: Malak's API documentation
  version: 0.1.0
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      parameters:
      - description: auth exchange data
        in: body
        name: message
        required: true
        schema:
          $ref: '#/definitions/server.authenticateUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/server.createdUserResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/server.APIStatus'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/server.APIStatus'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/server.APIStatus'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/server.APIStatus'
      summary: Sign in with a social login provider
      tags:
      - auth
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
